@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;

}
.container{
    height: 100vh;
    border: 1px solid black;
    display: flex;
    
}
#box1{
    width: 35%;
    /* border: 1px solid black; */
    

}
.icon{
    position: relative;
    top: 3px;
    left: 60px;

}

#box2{
    width: 75%;
    background-image: url("whatsapp\ image.webp");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: contain;
}

@media screen and (max-width: 992px) {
    #box2{
        width: 0%;
    }
    #box1{
        width: 100%;
    }
    .chats{
        overflow: auto;
    }
    .name{
        height: 100%;
        background-color: bisque;
    }
    .messageuser{
        height: 10%;
        font-size: 0.9em;
    }
  }
#section-1{
    height: 8%;
    /* border: 1px solid black; */
    display: flex;
    background-color: #ECE5DD;
    

}
#section-2{
    height: 9%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10%;
    
}
#section-2 > input{
    border: 1px solid black;
    height: 60%;
    width: 95%;
    border-radius: 10px;
}
#section-3{
    height:83% ;
    border: 1px solid black;
    overflow: auto;
}
#prof-2,#prof-1{

    width: 50%;
    
    height: 100%;
    /* border: 1px solid black; */
}
#prof-1{
    width: 20%;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
img{
    border-radius: 50%;
}
 #prof-3 ,#prof-4 ,#prof-5 ,#prof-6{
    width: 12.5%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.messages{
    height: 10%;
    border: 1px solid black;
    display: flex;
}
.profile{
    width: 15%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.chats{
    width: 85%;
    /* border: 1px solid black; */
    /* background-color:yellow; */


}
.name{
    font-size: 1.2rem;
    height: 40%;
    /* background-color: antiquewhite; */
    text-align: left;
    font-weight: bold;
}
.messageuser{
    height: 60%;

    text-align: left;

}